/* body {
  background: #f7f0ea;
  position: fixed;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  width: 100%;
} */

/* trouble-shooting with body width stuck in 980px: https://stackoverflow.com/questions/20400755/css-body-width-does-not-fill-100-percent */
body {
  color: #c8abd8;
  background: #091973;
  overflow-y: scroll;
  padding: 0;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

html {
  cursor: url("/assets/cuursor.png"), auto;
}
#home-button {
  position: fixed;
  bottom: 0;
}
/* 
.category {
  
  margin-left: 30px;
  margin-top: 0px;
  width: 200px;
}
.category a {
  text-decoration: none;

  font-family: "Noto Sans Mono", monospace;
} */
.category {
  width: 200px;
  margin: auto;
  text-align: center;
}
.category a {
  text-decoration: none;

  font-family: "Noto Sans Mono", monospace;
}
a:hover {
  color: #dfcaee;
  transition: 0.5s;
}

a:link {
  color: #5dafff;
  text-decoration: none;
}

a:visited {
  color: #5dafff;
  text-decoration: none;
}

#header {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: larger;
  font-family: "Noto Sans Mono", monospace;
}

.title {
  width: 600px;
  margin: auto;
  margin-top: 50px;
}
.wrapper {
  display: flex;

  height: auto;
  min-height: 100%;
  height: 100%;
  overflow-x: scroll;
}
.menu-container {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 10px;
  flex-direction: column;
  float: left;
  flex: 1;
  margin-left: 40px;
  margin-right: 40px;
  height: 500px;
}
.content-container {
  float: left;
  margin-top: 20px;
  margin-right: 0px;
  flex: 4;
}

.content-container a {
  overflow-x: hidden;
  overflow-y: scroll;
}
.box {
  background: #444b84;

  width: 200px;
  height: 40px;
  margin: auto;
}

.box:hover {
  background-color: #6161c2;
  transition: 0.8s;
  color: white;
  cursor: grab;
}
/*grid container */
.grid-container {
  display: grid;
  grid-template-columns: 10% 10% 10%;
  grid-template-rows: 20% 20% 20%;

  /* width: 90%;
  height: 100vh;
  margin: auto;
  margin-top: 0px;
  margin-right: 70px; */

  /* background: #dcd6ff; */
  width: 90%;
  height: 70vh;
  margin: auto;
  margin-right: 50%;
}

img {
  width: 150px;
  height: 200px;
  /* margin-top: 50%; */
  /* margin-left: 80%; */
}

.marisaimg {
  width: 150px;
  height: 200px;
  margin-left: 40%;
  /* width: 250px; */
  /* margin-top: 30%; */

  /* padding: 20px; */
  /* font-size: 30px; */
  /* text-align: center; */

  /* m2argin-left: 20%; */
}
.marisaimg2 {
  margin-right: 80%;
  /* width: 250px; */
  /* margin-top: 30%; */

  /* padding: 20px; */
  /* font-size: 30px; */
  /* text-align: center; */

  /* m2argin-left: 20%; */
}

/* .text {
  font-family: "Noto Sans Mono", monospace;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
} */
.bubbletext {
  font-family: "Noto Sans Mono", monospace;
  font-size: 0.2em;
  text-align: left;
  margin: auto;
  margin-top: 50%;

  color: #25129c;
}

/* speech bubble generator https://projects.verou.me/bubbly/ */

.speech-bubble {
  position: relative;
  background: #e9e2f7;
  border-radius: 0.4em;
  width: 80px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: #e9e2f7;
  border-top: 0;
  border-left: 0;
  margin-left: -7.5px;
  margin-top: -15px;
}
.speech-bubble2 {
  position: relative;
  background: #e9e2f7;
  border-radius: 0.4em;
  width: 100px;
  text-align: center;
}

.speech-bubble2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #e9e2f7;
  border-bottom: 0;
  border-left: 0;
  margin-left: -7.5px;
  margin-bottom: -15px;
}
.speech-bubble3 {
  position: relative;
  background: #e9e2f7;
  border-radius: 0.4em;
  text-align: center;
  width: 100px;
  margin-left: 50px;
}

.speech-bubble3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 30%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: #e9e2f7;
  border-top: 0;
  border-left: 0;
  margin-left: -7.5px;
  margin-top: -15px;
}

.speech-bubble4 {
  position: relative;
  background: #e9e2f7;
  border-radius: 0.4em;
  width: 140px;
  height: 50px;
  margin-left: 100px;
  text-align: center;
}

.speech-bubble4:after {
  content: "";
  position: absolute;
  top: 0;
  left: 70%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: #e9e2f7;
  border-top: 0;
  border-right: 0;
  margin-left: -7.5px;
  margin-top: -15px;
}
.blockquote {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.5em;
  width: 400px;
  padding: 10px;
  text-align: left;
  margin-top: 34%;
  margin-left: 40px;
  color: rgb(232, 220, 242);
  letter-spacing: 0.01em;
}

.blockquote-accent {
  font-size: 2em;
  font-style: bold;
}
.griditem {
  font-size: 30px;
  text-align: center;
  margin: auto;
}

.narration2 {
  font-family: "Noto Sans Mono", monospace;
  font-size: 0.4em;
  /* margin-left: 40%;
  margin-top: 30%;  */

  width: 400px;
  height: 100px;
  color: aliceblue;
  margin-left: 40px;
}
.narration {
  font-family: "Noto Sans Mono", monospace;
  font-size: 0.5em;
  margin-left: 40%;
  margin-top: 45%;
  color: aliceblue;
  width: 400px;
  height: 100px;

  margin-left: 40px;
}
.narration3 {
  font-family: "Noto Sans Mono", monospace;
  font-size: 0.5em;
  margin-left: 40%;
  margin-bottom: 50%;

  color: aliceblue;
  width: 400px;
  height: 100px;

  margin-left: 40px;
}

.blockquote2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.5em;

  margin-left: 30%;
  text-align: left;
  width: 250px;
  height: 100px;
  color: rgb(232, 220, 242);
}

iframe {
  margin-top: 10%;
}

.thoughts {
  font-family: "Noto Sans Mono", monospace;
  color: #aaaaf5;
  font-size: 15px;
  margin-top: 19%;
}

.screenshots {
  width: 400px;
  height: 400px;
}

.thoughtstitle {
  font-family: "Noto Sans Mono", monospace;
  color: #d4d4ff;
  font-size: 20px;
  margin-top: 20%;
  text-align: center;
}
